# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
.bashrc
data/db/_mdb_catalog.wt
data/db/collection-0--8898829775937835886.wt
data/db/collection-0-2132200248488310357.wt
data/db/collection-2-2132200248488310357.wt
data/db/collection-4-2132200248488310357.wt
data/db/collection-6-2132200248488310357.wt
data/db/collection-8-2132200248488310357.wt
data/db/collection-10-2132200248488310357.wt
data/db/collection-12-2132200248488310357.wt
data/db/collection-14-2132200248488310357.wt
data/db/collection-15-2132200248488310357.wt
data/db/collection-17-2132200248488310357.wt
data/db/collection-19-2132200248488310357.wt
data/db/collection-22-2132200248488310357.wt
data/db/collection-24-2132200248488310357.wt
data/db/collection-26-2132200248488310357.wt
data/db/collection-27-2132200248488310357.wt
data/db/collection-28-2132200248488310357.wt
data/db/collection-29-2132200248488310357.wt
data/db/collection-30-2132200248488310357.wt
data/db/collection-38-2132200248488310357.wt
data/db/collection-39-2132200248488310357.wt
data/db/collection-44-2132200248488310357.wt
data/db/index-1--8898829775937835886.wt
data/db/index-1-2132200248488310357.wt
data/db/index-2--8898829775937835886.wt
data/db/index-3-2132200248488310357.wt
data/db/index-5-2132200248488310357.wt
data/db/index-7-2132200248488310357.wt
data/db/index-9-2132200248488310357.wt
data/db/index-11-2132200248488310357.wt
data/db/index-13-2132200248488310357.wt
data/db/index-16-2132200248488310357.wt
data/db/index-18-2132200248488310357.wt
data/db/index-20-2132200248488310357.wt
data/db/index-21-2132200248488310357.wt
data/db/index-23-2132200248488310357.wt
data/db/index-25-2132200248488310357.wt
data/db/index-31-2132200248488310357.wt
data/db/index-32-2132200248488310357.wt
data/db/index-33-2132200248488310357.wt
data/db/index-34-2132200248488310357.wt
data/db/index-35-2132200248488310357.wt
data/db/index-36-2132200248488310357.wt
data/db/index-37-2132200248488310357.wt
data/db/index-40-2132200248488310357.wt
data/db/index-41-2132200248488310357.wt
data/db/index-42-2132200248488310357.wt
data/db/index-43-2132200248488310357.wt
data/db/index-45-2132200248488310357.wt
data/db/index-46-2132200248488310357.wt
data/db/mongod.lock
data/db/sizeStorer.wt
data/db/storage.bson
data/db/WiredTiger
data/db/WiredTiger.lock
data/db/WiredTiger.turtle
data/db/WiredTiger.wt
data/db/WiredTigerHS.wt
