*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
  }
  
  body{
    background: url(./assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
  }

  .logo-container {
    width: 640px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 97%;
    border-radius: 35px;
  }

  .logo-container .logo {
    display: block;
    padding-bottom: 8px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .form{
    background: rgba(27,31,34,0.80);
    width: 640px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-inline: auto;
    max-width: 97%;
    border-radius: 35px;
    padding: 55px 30px;
  }
  
  .form .title h2{
    letter-spacing: 6px;
    border-bottom: 1px solid white;
    display: inline-block;
    padding-bottom: 8px;
    margin-bottom: 32px;
  }
  
  .form .half{
    display: flex;
    justify-content: space-between;
  }
  
  .form .half .item{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 48%;
  }
  
  .form label{
    display: block;
    font-size: 13px;
    letter-spacing: 3.5px;
    margin-bottom: 16px;
  }
  
  .form .half .item input{
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 16px;
    width: 100%;
    height: 44px;
    background: transparent;
    font-size: 17px;
  }
  
  .form .full{
    margin-bottom: 24px;
  }
  
  .form .full textarea{
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 12px 16px;
    width: 100%;
    height: 200px;
    font-size: 17px;
  }
  
  .form .action{
    margin-bottom: 32px;
  }
  
  .form .action input{
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    height: 44px;
    letter-spacing: 3px;
    outline: 0;
    padding: 0 20px 0 22px;
    margin-right: 10px;
  }
  
  .form .action input[type="submit"]{
    background: white;
    color: black;
  }

  .form .action input[type="submit"]:hover {
    background: red;
    color: white;
  }

  .form .action input[type="reset"]:hover {
    color: white;
  }
  
  .form .icons a{
    border: 1px solid white;
    border-radius: 50%;
    line-height: 36px;
    text-align: center;
    font-weight: 600;
    width: 38px;
    margin-right: 10px;
  }
  
  .form .half .item input:focus, .form .full textarea:focus, .form .action input[type="reset"]:hover, .form .icons a:hover{
    background: rgb(117, 117, 117);
    color: white;
  }

  .custom-audio-player {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: black;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    height: 5%;
    margin-top: 60px;
}

.audio-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 40px;
}

.play-pause-btn {
    display: flex;
    justify-content: center;
    width: 100px;
    margin-right: 20px;
}

.play-pause-btn i {
    color: white;
    border: none;
    padding: 10px 10px;
    display: inline-block;
    font-size: 30px;
    margin: 10px 10px;
    cursor: pointer;
}

.play-pause-btn i:hover {
    color: red;
}

.play-pause-btn i:active {
    color: red;
}

#volume {
  width: 10%;
  margin-left: 30px;
}

.fa-volume-up {
  color: white;
  font-size: 20px;
  margin-right: 10px;
}

.success-toast {
  display: none; 
  position: fixed; 
  bottom: 0; 
  left: 0; 
  background: green; 
  color: #fff; 
  padding: 10px;
}

.fail-toast {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  background: red;
  color: #fff;
  padding: 10px;
}

.from {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-image: linear-gradient(to right, red 40%, transparent);
  color: white;
  margin-bottom: 5px;
  padding: 3px;
  word-break: break-all;
  border-radius: .5rem;
  width: fit-content;
}

.text {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 50px;
  word-break: break-all;
}

#announcementWall {
  height: 500px; 
  overflow-y: auto; 
}

@media (max-width: 480px){
  .form .half{
    flex-direction: column;
  }
  .form .half .item{
    width: 100%;
  }
  .form .action{
    display: flex;
    flex-direction: column;
  }
  .form .action input{
    margin-bottom: 10px;
    width: 100%;
  }
}



