<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rizzmo bar wall</title>
    <link rel="stylesheet" href="{{ url('static', filename='styles.css' )}}">
    <link rel="icon" href="{{ url('static', filename='/assets/favico.png' )}}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <!-- Logo -->
    <div class="logo-container">
        <img src="{{ url('static', filename='assets/logo.png') }}" class="logo" alt="">
    </div>
</head>
<body>
    <div class="form">
        <div class="title">
            <h2>Ravasaki wall</h2>
          </div>          
          <div class="full">
            <div id="announcementWall">
                <span class="from">John Doe</span>
                <span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis deserunt commodi a harum id nihil assumenda odio. Perferendis eos quibusdam commodi non. Perspiciatis temporibus officiis, blanditiis ipsum eveniet aut assumenda?</span>
                <span class="from">Jane Doe</span>
                <span class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere odit ea ad esse voluptas sed deleniti dolorum voluptates, id recusandae ipsum repellendus repellat odio! Odit facilis labore nemo esse incidunt!</span>
                <span class="from">John Doe</span>
                <span class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias officiis praesentium iste, sed voluptatem veniam perspiciatis aperiam excepturi similique error exercitationem fugit iure inventore odit vitae accusamus cumque itaque! Maxime!</span>
                <span class="from">John Doe</span>
                <span class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta architecto consequatur deserunt incidunt modi ad nobis necessitatibus placeat quisquam aut. Voluptatibus, ipsum porro. Aut, maxime! Voluptatem eligendi officia id reiciendis!</span>
                <span class="from">John Doe</span>
                <span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, iste ipsam distinctio accusamus est nam totam! Debitis odit et quaerat vel itaque perferendis, aspernatur deleniti vitae esse sint, officia error.</span>
                <span class="from">John Doe</span>
                <span class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis id quas reiciendis magnam natus pariatur laboriosam unde et, tempore necessitatibus! Aliquam sapiente suscipit, adipisci officia nam nostrum. Illum, quae repellat.</span>
                <span class="from">John Doe</span>
                <span class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur provident, labore assumenda explicabo omnis eaque suscipit accusantium est iste blanditiis, impedit cupiditate minima alias quisquam cum nihil aliquid. Placeat, voluptatem?</span>
                <span class="from">John Doe</span>
                <span class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum autem aliquid sunt ipsam, optio repudiandae, totam doloribus nihil similique delectus quae asperiores voluptate? Quasi delectus dolores explicabo cum, corrupti aperiam?</span>
                <span class="from">John Doe</span>
                <span class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo eum dolore vitae quam ad distinctio alias voluptate earum doloremque nobis consequuntur recusandae, modi debitis, veritatis blanditiis cum, veniam sed dignissimos.</span>
                <span class="from">John Doe</span>
                <span class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et aperiam voluptates sit vero, exercitationem, illum, reprehenderit natus quasi quia minima quaerat. Saepe exercitationem dolorum quod minus ullam rerum voluptatum vel.</span>
                <span class="from">John Doe</span>
                <span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque alias nam quas labore illo asperiores, veritatis perferendis aspernatur dolores possimus! Itaque eum id illum magnam. Recusandae blanditiis sequi ipsa nobis!</span>
                <span class="from">John Doe</span>
                <span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique culpa id sapiente sit necessitatibus, ratione quos quasi consequuntur eum neque tenetur exercitationem cupiditate cumque ea repellat ipsa asperiores nostrum aut?</span>
                <span class="from">John Doe</span>
                <span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa nesciunt deleniti ex tempore illum vero voluptate rerum asperiores, eligendi perferendis voluptates ea itaque perspiciatis repudiandae maiores culpa officia blanditiis magnam.</span>
            </div>
          </div>
    </div>

    <!-- Audio player -->
    <div class="custom-audio-player">
        <div class="audio-controls">
            <div class="play-pause-btn">
                <i class="fa fa-play-circle-o" aria-hidden="true" id="play"></i>
                <i class="fa fa-pause-circle-o" aria-hidden="true" id="pause"></i>
                <i class="fa fa-volume-up" aria-hidden="true"></i>
            </div>                
            <input type="range" id="volume" min="0" max="1" step="0.01" value="1">
            <audio id="audio" src="https://radio.gizmolab.net:8001/gizmolab"></audio>
        </div>
    </div>

    <script src="{{ url('static', filename='announcement.js') }}"></script>
    <script src="{{ url('static', filename='audioPlayer.js') }}"></script>  
    <!-- <script src="{{ url('static', filename='submitForm.js') }}"></script> -->
    
</body>
</html>
