{% set title= "Main" %}
<link rel="stylesheet" href="{{ url('static', filename='styles.css' )}}">

<div class="text-form">
	<h2> Leave a text! </h2>

	<form method="post">
		<div class="user-box">
			<input type="text", name="from", required="">
			<label> From </label>
		</div>
		<div class="user-box">
			<input type="text", name="user_text", required="">
			<label> Message </label>
		</div>
		<a href="#" action="submit">
			<input type="submit", value="">
			<label> Submit </label>
		</a>

	</form>
</div>
